@using WebApp.Helpers
@model List<RoleDto>
@{
    ViewData["title"] = "ındex";
    Layout = "~/views/shared/_layout.cshtml";
}

 <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <h1>Dashboard</h1>
        </div>
      </div>
</div>

