@model CreateRoleModel
@{
    ViewData["title"] = "Create";
    Layout = "~/views/shared/_layout.cshtml";
}
@{
    var allClaims = TempData["AllClaims"] as List<ClaimDto>;
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["ErrorMessage"]
                </div>
            }

            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label for="Name" class="control-label">Role Name</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <label>Role Claims</label>
                <div class="form-group">
                    @foreach (var claim in ViewBag.Claims)
                    {
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="Claims" value="@claim.Value">
                                @claim.Value
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    }
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>
