@model RoleRequestDto
@{
    ViewData["title"] = "Create";
    Layout = "~/views/shared/_layout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form action="Create" method="post">
                <div class="form-group">
                    <label for="Name" class="control-label">Role Name</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>