@model RoleRequestDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form asp-action="Update" asp-controller="Role" asp-route-id="@Model.Id" method="post">
                <div class="form-group">
                    <label for="Name" class="control-label">Role Name</label>
                    
                    <input type="hidden" asp-for="Id" class="form-control" />
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>

