@model UpdateRoleModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @{
                string errorMessage = TempData["ErrorMessage"] as string;
                string successMessage = TempData["SuccessMessage"] as string;
            }

            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @errorMessage
                </div>
            }
            @if (!string.IsNullOrEmpty(successMessage))
            {
                <div class="alert alert-success" role="alert">
                    @successMessage
                </div>
            }

            <form asp-action="Update" asp-controller="Role"  method="post">
                <div class="form-group">
                    <label for="Name" class="control-label">Role Name</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <label>Role Claims</label>
                <div class="form-group">
                    @foreach (var claim in ViewBag.AllClaims)
                    {
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="Claims" value="@claim.Value" @(Model.Claims.Any(c => c.Value == claim.Value) ? "checked" : "")>
                                @claim.Value
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    }
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>

